<div class="container" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-9">
      <ol class="breadcrumb">
        <li><a href="/">柚子首页</a></li>
        {{#foreach category.breadcrumb}}
          <li><a href="{{path}}">{{name}}</a></li>
        {{/foreach}}
        <li><a href="{{category.path}}">{{category.name}}</a></li>
        <li class="active">{{text title words="15"}}</li>
      </ol>
      <div class="media col-md-12 yooz-product" style="margin: 0 0px 20px -20px;padding: 20px;">
          {{> thumb isLink="" styles="box-shadow: none;width: 160px;" containerStyle="padding: 0 20px 10px 0;" totalStyle="left: 10px; top: 10px;"}}
          {{!-- {{#if thumbnail}}
            <div class="media-left" style="padding: 0 20px 10px 0;">
              <img class="media-object" class="media-left" src="{{thumbnail.src}}" title="{{title}}" alt="{{title}}">
              <em style="left: 10px; top: 10px;">人气：{{reading.total}}</em>
            </div>
          {{/if}} --}}
          <div class="media-body">
            <h4 class="media-heading text-overflow margin-bottom-10" style="color: #000;" id="title_wxshare">
              {{title}}
            </h4>
            {{#if abstract}}
              <p class="media-abstract" id="wxshare_content">{{{abstract}}}</p>
            {{/if}}
            {{#if extensions.types}}<p>类型：{{extensions.types}}</p>{{/if}}
            {{#if extensions.g_face}}<p>外观：{{extensions.g_face}}</p>{{/if}}
            {{#if extensions.taste}}<p>烟弹口味：{{extensions.taste}}</p>{{/if}}
            {{#if extensions.ration}}<p>尼古丁含量：{{extensions.ration}}</p>{{/if}}
            {{> price classes="pull-right"}}
          </div>
      </div>
      <div class="media col-md-12 yooz-product" style="border-radius: 3px;padding: 20px 10px 30px;box-shadow: 0 1px 3px rgba(0,0,0,.5);">
          <div class="content">
            {{{content}}}
          </div>
          {{#if tags}}
            <hr>
            <div>
              标签：{{#foreach tags}}<span>{{this}}</span> {{/foreach}}
            </div>
          {{/if}}
        </div>
      {{!-- <div class="page-header text-center">
        <h1 style="font-weight: 600;">{{title}}</h1>
        <p class="text-muted">{{dateformat date format="YYYY年MM月DD日 HH:mm"}}　热度：{{reading.total}}</p>
      </div>
      {{#if abstract}}
        <div class="well text-muted">{{abstract}}</div>
      {{/if}}
      <div class="content">
        {{{content}}}
      </div>
      {{#if tags}}
        <hr>
        <div>
          标签：{{#foreach tags}}<span>{{this}}</span> {{/foreach}}
        </div>
      {{/if}} --}}
      {{> weixin-card}}
    </div>
    {{!-- <div class="col-md-3 hidden-xs hidden-sm"> --}}

    <div class="col-md-3">
      <div class="panel panel-default">
        <h4 class="panel-heading" style="margin: 0;">产品总排行</h4>
        <ul class="list-group">
          {{#foreach readingList.total limit="10"}}
            <a href="{{href}}" class="list-group-item text-overflow" title="{{title}}" style="text-align: center;">
              {{#if thumbnail}}
                <img class="media-object" src="{{thumbnail.src}}" title="{{title}}" alt="{{title}}" width="100%">
              {{/if}}
              <h6>{{title}}</h6>
            </a>
          {{/foreach}}
        </ul>
      </div>
      {{!-- <div class="panel panel-default">
        <div class="panel-heading">人气月榜单</div>
        <ul class="list-group">
          {{#foreach readingList.month limit="5"}}
            <a href="{{href}}" title="{{title}}" class="list-group-item text-overflow" style="text-align: center;">
              {{#if thumbnail}}
                <img class="media-object" src="{{thumbnail.src}}" title="{{title}}" alt="{{title}}" width="100%">
              {{/if}}
              <h6>{{title}}</h6>
            </a>
          {{/foreach}}
        </ul>
      </div> --}}
      {{!-- <div class="panel panel-default">
        <div class="panel-heading">栏目热度本周排行</div>
        <ul class="list-group">
          {{#foreach readingList.week limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">栏目热度今日排行</div>
        <ul class="list-group">
          {{#foreach readingList.day limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div> --}}
    </div>
  </div>
  
</div>