<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>{{#if title}}{{title}} - {{/if}}{{#if category}}{{category.name}} - {{/if}}{{siteInfo.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="generator" content="NodeJS">
    <meta name="keywords" content="{{#if category}}{{category.keywords}},{{/if}}{{siteInfo.keywords}}">
    <meta name="description" id="wxshare_content" content="{{#if category}}{{category.description}} —— {{/if}} {{#if contentFix}}{{contentFix}}{{else}}{{siteInfo.description}}{{/if}}">
    <meta itemprop="name" content="{{ siteInfo.shareTitle }}">
    <meta itemprop="image" content="{{ siteInfo.shareImage }}">
    <meta itemprop="description" name="description" content="{{ siteInfo.shareDesc }}">
    <meta name="format-detection" content = "telephone=no">
    <meta name="baidu-site-verification" content="code-VaJSpTamNe" />
    <meta name="baidu-site-verification" content="code-bigpFFKOuX" />
    <meta name="baidu-site-verification" content="code-jtq85prCj6" />
    <meta name="baidu-site-verification" content="code-hKmTs3FZHs" />
    <meta name="sogou_site_verification" content="RTaOPLy2jP"/>
    <meta name="sogou_site_verification" content="3yvfHPuHT6"/>
    <meta name="sogou_site_verification" content="ZOsZVOLZK8"/>
    <meta name="sogou_site_verification" content="vDzjUyCsjv"/>
    <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/main.css" />
    <script src="/themes/{{siteInfo.theme}}/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/themes/{{siteInfo.theme}}/assets/js/bootstrap.min.js"></script>
    <script src="/themes/{{siteInfo.theme}}/assets/js/clipboard-1.5.12.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {{{siteInfo.codeHeader}}}
  </head>
  <body>
    {{> navigation}}
    {{{body}}}
    <br>
    <br>
    <br>
    {{> footer}}
    {{> scripts wxshare_title=title wxshare_content=abstract wxshare_image=thumbnail}}
    {{!-- {{> 18alert}} --}}
  </body>
</html>