{{#if thumbnail}}
{{#if isLink}}
<a class="media-left" style="{{containerStyle}}" href="{{url}}" title="{{title}}" target="_blank">
    <img class="media-object" style="{{styles}}" src="{{thumbnail.src}}" title="{{thumbnail.fileName}}" alt="{{thumbnail.description}}">
    <em style="{{totalStyle}}">人气：{{reading.total}}</em>
</a>
{{else}}
<div class="media-left" style="{{containerStyle}}">
    <img class="media-object" id="wxshare_image" class="media-left" src="{{thumbnail.src}}" title="{{title}}" alt="{{title}}">
    <em style="{{totalStyle}}">人气：{{reading.total}}</em>
</div>
{{/if}}
{{/if}}