<div class="container" style="padding-top: 10px;">
  {{>features}}
  {{>weixin}}
  <div class="row" style="overflow: hidden;">
    <div class="col-md-9">
        {{!-- {{#foreach lists}}
          <div class="col-md-12">
            <div class="panel panel-less">
              <div class="panel-heading">
                {{name}}
                <a class="pull-right" href="{{path}}">更多</a>
              </div>
              <div class="list-group list-group-less">
                {{#foreach contents limit="5"}}
                  <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
                {{/foreach}}
              </div>
            </div>
          </div>
        {{/foreach}} --}}
        <div class="row" style="margin: 0;">
        {{#foreach lists}}
          {{#if contents}}
          <ol class="col-md-12 breadcrumb item-list">
            <li style="font-weight: 600;">{{name}}</li>
            <li class="pull-right"><a href="{{path}}" style="text-decoration: underline;">查看更多</a></li>
          </ol>
          {{/if}}
            <div class="col-md-12" style="margin: 0 -30px 20px; width: auto;">
              {{#foreach contents limit="10"}}
                {{#if isArticle}}
                <div class="" style="margin-right: 15px;margin-left: 15px;margin-bottom: 10px; padding-bottom: 10px; {{#if isArticle}}border-bottom: 1px solid #efefef;{{/if}}">
                  <h3 class="media-heading text-overflow margin-bottom-10"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></h3>
                  {{> thumb isLink="true" styles="width: 120px;"}}
                  {{!-- {{#if thumbnail}}
                    <a class="media-left" href="{{url}}" title="{{title}}" target="_blank">
                      <img class="media-object" style="width: 100px;" src="{{thumbnail.src}}" title="{{title}}" alt="{{title}}">
                    </a>
                  {{/if}} --}}
                  <div class="media-body text-muted">
                    {{#if abstract}}
                      <p class="media-abstract"><a href="{{url}}" title="{{title}}" target="_blank">{{abstract}}</a></p>
                    {{/if}}
                    <p{{#if abstract}} class="article-bottom"{{/if}}><span>{{dateformat date format="YYYY年MM月DD日 HH:mm"}}</span><span class="pull-right">热度：{{reading.total}}</span></p>
                  </div>
                </div>
                {{/if}}
                {{#if isProduct}}
                <div class="col-md-6" style="margin-bottom: 10px;">
                  <div class="media" style="margin-right: 0;padding: 10px 10px 0;border-radius: 3px; box-shadow: 0 1px 3px rgba(0,0,0,.5); {{#if isArticle}}border-bottom: 1px solid #efefef;{{/if}}">
                    {{> thumb isLink="true" styles="box-shadow: none;width: 120px;"}}
                    {{!-- {{#if thumbnail}}
                      <a class="media-left" href="{{url}}" title="{{title}}" target="_blank">
                        <img class="media-object" style="box-shadow: none;width: 160px;" src="{{thumbnail.src}}" title="{{thumbnail.fileName}}" alt="{{thumbnail.description}}">
                        <em>人气：{{reading.total}}</em>
                      </a>
                    {{/if}} --}}
                    <div class="media-body text-muted">
                      <h4 class="media-heading text-overflow margin-bottom-10" style="white-space: normal;">
                        <a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a>
                      </h4>
                      {{#if extensions.types}}<p>类型：{{extensions.types}}</p>{{/if}}
                      {{#if extensions.g_face}}<p>外观：{{extensions.g_face}}</p>{{/if}}
                      {{#if extensions.taste}}<p>烟弹口味：{{extensions.taste}}</p>{{/if}}
                      {{#if extensions.ration}}<p>尼古丁含量：{{extensions.ration}}</p>{{/if}}
                      {{!-- {{#if abstract}}
                        <p class="media-abstract"><a href="{{url}}" title="{{title}}" target="_blank">{{abstract}}</a></p>
                      {{/if}} --}}
                      {{!-- <p class="product-bottom">
                        <span>{{dateformat date format="MM月DD日 HH:mm"}}</span>
                        <span class="pull-right">人气：{{reading.total}}</span>
                      </p> --}}
                      {{> price classes=""}}
                    </div>
                  </div>
                </div>
                {{/if}}
              {{/foreach}}
            </div>
        {{/foreach}}
        </div>
    </div>
    {{!-- <div class="col-md-3 hidden-xs hidden-sm"> --}}
    <div class="col-md-3">
      {{#if readingList.prodTotal}}
      <div class="panel panel-default">
        <h4 class="panel-heading" style="margin: 0;">人气总排行</h4>
        <ul class="list-group">
          {{#foreach readingList.prodTotal limit="4"}}
            <a href="{{href}}" class="list-group-item text-overflow" style="text-align: center;">
              {{#if thumbnail}}
                <img class="media-object" src="{{thumbnail.src}}" title="{{thumbnail.fileName}}" alt="{{thumbnail.description}}" width="100%">
              {{/if}}
              <h6>{{title}}</h6>
            </a>
          {{/foreach}}
        </ul>
      </div>
      {{/if}}
      <div class="panel panel-default">
        <h4 class="panel-heading" style="margin: 0;">热度总排行</h4>
        <ul class="list-group">
          {{#foreach readingList.total limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      {{#if readingList.prodMonth}}
      <div class="panel panel-default">
        <h4 class="panel-heading" style="margin: 0;">人气月排行</h4>
        <ul class="list-group">
          {{#foreach readingList.prodMonth limit="4"}}
            <a href="{{href}}" class="list-group-item text-overflow" style="text-align: center;">
              {{#if thumbnail}}
                <img class="media-object" src="{{thumbnail.src}}" title="{{thumbnail.fileName}}" alt="{{thumbnail.description}}" width="100%">
              {{/if}}
              <h6>{{title}}</h6>
            </a>
          {{/foreach}}
        </ul>
      </div>
      {{/if}}
      <div class="panel panel-default">
        <h4 class="panel-heading" style="margin: 0;">热度月排行</h4>
        <ul class="list-group">
          {{#foreach readingList.month limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      {{!-- <div class="panel panel-default">
        <div class="panel-heading">热度本周排行</div>
        <ul class="list-group">
          {{#foreach readingList.week limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">热度今日排行</div>
        <ul class="list-group">
          {{#foreach readingList.day limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>--}}
    </div>
  </div>
</div>