<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ol class="breadcrumb">
        <li><a href="/">柚子首页</a></li>
        <li class="active">搜索</li>
      </ol>
      {{#foreach list.contents}}
        <div class="media">
          <h3 class="media-heading text-overflow margin-bottom-10"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></h3>
          {{#if thumbnail}}
            <a class="media-left" href="{{url}}" title="{{title}}" target="_blank">
              <img class="media-object" style="width: 200px" src="{{thumbnail.src}}" title="{{title}}" alt="{{title}}">
              <em>人气：{{reading.total}}</em>
            </a>
          {{/if}}
          <div class="media-body text-muted">
            {{#if abstract}}
              <p>{{abstract}}</p>
            {{/if}}
            {{#if extensions.types}}<p>类型：{{extensions.types}}</p>{{/if}}
            {{#if extensions.g_face}}<p>外观：{{extensions.g_face}}</p>{{/if}}
            {{#if extensions.taste}}<p>烟弹口味：{{extensions.taste}}</p>{{/if}}
            {{#if extensions.ration}}<p>尼古丁含量：{{extensions.ration}}</p>{{/if}}
            {{#if extensions.common_price}}<p class="show_price">
              {{#if extensions.common_price}}<span>统一零售价：<strong>￥{{extensions.common_price}}</strong></span><br>{{/if}}
              <span>询底价：<input type="button" data-clipboard-action="copy" data-clipboard-target="#weixinCode" class="get_price_btn" value="点击复制微信号咨询"/></span>
            </p>
            {{else}}
              <p class="article-bottom"><span>{{dateformat date format="YYYY年MM月DD日 HH:mm"}}</span><span class="pull-right">热度：{{reading.total}}</span></p>
            {{/if}}
          </div>
        </div>
        <hr>
      {{/foreach}}
      <nav class="text-center">
        <ul class="pagination">
          {{#foreach list.pagination}}
            <li {{#if active}}class="active"{{/if}}>
              <a href="{{url}}">{{name}}</a>
            </li>
          {{/foreach}}
        </ul>
      </nav>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">热度总排行</div>
        <ul class="list-group">
          {{#foreach readingList.total limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">热度月排行</div>
        <ul class="list-group">
          {{#foreach readingList.month limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      {{!-- <div class="panel panel-default">
        <div class="panel-heading">栏目热度本周排行</div>
        <ul class="list-group">
          {{#foreach readingList.week limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">栏目热度今日排行</div>
        <ul class="list-group">
          {{#foreach readingList.day limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      --}}
    </div>
  </div>
</div>