<div class="jumbotron clear-bottom-margin">
    <div class="container text-center text-muted yooz-footer">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="hidden-xs">
            <tr>
                <td>
                    <a class="footer-logo" href="/" title="{{siteInfo.title}}">
                        <img height="24" alt="{{siteInfo.title}}" src="/themes/{{siteInfo.theme}}/assets/img/yooz-logo-white.png"><br>
                        <span>YOOZWORLD.CO</span>
                    </a>
                </td>
                <td>
                    <h4>公司信息</h4>
                    <h5>北京三个小伙伴科技有限公司</h5>
                    <p>Copyrightⓒ2021 Beijing THREE BROTHERS technology Co., Ltd</p>
                </td>
                <td>
                    <h4>客服信息</h4>
                    <h5>客服微信号：{{siteInfo.weixin}}<br><img src="/assets/images/vivian-yoooz-1.jpg" width="80" alt="电子烟,YOOZ,YOOZ柚子,YOOZ电子烟官网,YOOZ加盟,YOOZ烟弹,YOOZ代理,微信：vivian-yoooz"></h5>

                </td>
                <td>
                    <h4>合作联系</h4>
                    <h5>YOOZ合作/代理：13910001306</h5>

                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="hidden-sm hidden-md hidden-lg">
            <tr>
                <td>
                    <a class="footer-logo" href="/" title="{{siteInfo.title}}">
                        <img height="24" alt="{{siteInfo.title}}" src="/themes/{{siteInfo.theme}}/assets/img/yooz-logo-white.png"><br>
                        <span>YOOZ.ORG.CN</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="margin: 30px 0 10px;">公司信息</h4>
                    <h5>北京三个小伙伴科技有限公司</h5>
                    <p>Copyrightⓒ2021 Beijing THREE BROTHERS technology Co., Ltd</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="margin: 30px 0 10px;">客服信息</h4>
                    <h5>客服微信号：{{siteInfo.weixin}}<br><img src="/assets/images/vivian-yoooz-1.jpg" width="80" alt="电子烟,YOOZ,YOOZ柚子,YOOZ电子烟官网,YOOZ加盟,YOOZ烟弹,YOOZ代理,微信：vivian-yoooz"></h5>

                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="margin: 30px 0 10px;">合作联系</h4>
                    <h5>YOOZ合作/代理：13910001306</h5>

                </td>
            </tr>
        </table>
        {{{siteInfo.codeFooter}}}
    </div>
</div>